.btnList {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.btn {
  border: 1px solid;
  border-radius: 5px;
  background-color: transparent;
}

.btn:active {
  background-color: rgb(107, 180, 232);
}
